.login-container {
  background: linear-gradient(#FFFEFE, #999898);
}

.login-box {
  width: 350px;
  border: 5px solid black;
  background-color: #dcdcdc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-header {
  border-bottom: 5px solid black;
  background-color: #007bff;
  color: black !important;
}

.login-body {
  background-color: #dcdcdc;
}

.form-label {
  color: black !important;
}

.top-feedback {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  z-index: 1050;
  border-radius: 5px;
}