.container {
  max-width: 900px;
  margin: auto;
}

.card {
  border-radius: 10px;
  border: 5px solid black;
  background-color: #007bff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.card-text {
  font-size: 1rem;
  color: white;
}

.card-text small {
  color: #ffffff;
}

h2 {
  font-weight: 600;
  color: #222;
}
